.contenedorI {
    position: relative;
    width: 100%;
}

.contenedorI img {
    width: 100%;
    display: block;
}

.textoarriba {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    font-family: Arial, sans-serif;
}

/* .contenedor-1 {
    position: relative;
    display: inline-block;
    text-align: center;
    width: 100%;
    height: auto;
} */

.img-1 {}

.txte-img-1 {
    position: absolute;
    top: 10px;
    left: 10px;
}

.txtc-img-1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}