.contenedorI {
    position: relative;
    width: 100%;
}



.contenedorI img {
    width: 100%;
    display: block;
    height: auto;
}

.textoarriba {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    font-family: Arial, sans-serif;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.contenedorII {
    width: 90%;
    max-width: 1200px;
    margin: 60px auto;
    display: grid;
    grid-gap: 20px;
    text-align: justify;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "parte1        parte2"
                         "parte3        parte4"
                         "parte5        parte6"
                         "parte7        parte8";
}

.parte1 {
    grid-area: parte1;
}

.parte1 h1 {
    font-size: medium;
    font-family: 'Montserrat', sans-serif;
}

.parte1 p {
    position: relative;
    left: 30px;
    font-size: small;
    font-family: monospace;
    font-style: italic;
}

.parte2 {
    grid-area: parte2;
    position: relative;
    left: 30px;
}

.parte3 {
    padding: 60px;
    grid-area: parte3;
}

.parte4 {
    grid-area: parte4;
    padding: 60px;
    width: 100%;
    display: grid;
    place-items: center;
    font-family: 'Montserrat', sans-serif;
}

.parte4 h1 {
    font-size: x-large;
    color: green;
}

.parte4 p {
    font-size: medium;
}

.parte5 {
    grid-area: parte5;
    padding: 60px;
    display: grid;
    place-items: center;
    font-family: 'Montserrat', sans-serif;
}

.parte5 h1 {
    font-size: x-large;
    color: green;
}

.parte5 p {
    font-size: medium;
}

.parte6 {
    grid-area: parte6;
    padding: 60px;
}

.parte7 {
    grid-area: parte7;
    padding: 60px;
}

.parte8 {
    grid-area: parte8;
    padding: 60px;
    width: 100%;
    display: grid;
    place-items: center;
    font-family: 'Montserrat', sans-serif;
}

.parte8 h1 {
    font-size: x-large;
    color: green;
}

.parte8 p {
    font-size: medium;
}

a.Conoce {
    display: inline-block;
    position: relative;
    color: #333;
    text-decoration: none;
    transition: all .5s ease;
    transform-style: preserve-3d;
}

a.Conoce:after {
    content: "Sobre Productos";
    position: absolute;
    top: -100%;
    left: 0px;
    width: 100%;
    background: #ccc;
    transform-origin: left bottom;
    transform: rotateX(90deg);
}

a.Conoce:hover {
    transform-origin: center bottom;
    transform: rotateX(-90deg) translateY(100%);
}

.logo {
    display: none;
}

.about {
    display: none;
    transition: transform 0.3s ease-in-out;
    max-width: 100%;
}
.about:hover {
    transform: scale(1.2); 
}
@media only screen and (max-width: 853px) {
    .parte2 {
        display: none;
    }
    .contenedorII {
        grid-template-columns: repeat(1, 1fr);
        grid-template-areas: "parte1"        
                             "parte4"
                             "parte3"
                             "parte5"
                             "parte6"
                             "parte8"
                             "parte7";
    }
    .parte1 p {
        padding: 0px 30px;
    }
    
    .parte3, .parte6, .parte7 {
        width: 80%;
        height: auto;
        margin-left: 10%;
        margin-top: -120px;
    }

    .logo2 {
        display: none;
    }
    .logo {
        display: block;
    }
}

@media only screen and (max-width: 500px) {
    .parte1 p {
        left: 0px;
    }
    
    .parte3, .parte6, .parte7 {
        display: none;
    }

    .about {
        display: block;
    }
}

@media only screen and (max-width: 570px) {
    .logo {
        display: none;
    }
    .logo2 {
        display: block;
    }
}