form.filtro {
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    padding: 15px;
    margin-left: 60px;
}
.sectionfiltro {
    display: flex;
}
.sectionfiltro>form+form {
    width: 200px !important;
}

.filtro div {
    width: 200px;
    margin: 10px;
    border: 1px solid #c4ae9c;
    padding: 10px;
    text-align: center;
    overflow: hidden;
    transition: transform 0.3s ease;
}
.cuales {
    width: 300px;
    margin: 10px;
    margin-left: 6.5%;
    border: 1px solid #c4ae9c;
    padding: 10px;
    font-style: italic;
    text-align: center;
}
/* .filtro div:hover {
    transform: translateY(-10px);
} */
select#FiltrarCate {
    width: 100%;
    margin: auto;
    text-align: center;
    padding: 10px;
    border: none;
    outline: none;
    appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
}
.filtro label {
    font-size: 15px;
    margin: 0px;
}
.filtro>div img {
    width: 100%;
    border-radius: 10px;
}
#btnfiltro {
    width: 100%;
    margin: auto;
    text-align: center;
    border: none;
    background: none;
}
.filtro p, #FiltrarCate, #btnfiltro {
    font-weight: bold;
    margin-top: 10px;
}

.filtro a {
    text-decoration: none;
    color: inherit;
}